<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🍲</text></svg>">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>stone-soup</title>
    
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    
    <!-- this is the start of content -->
    <a href="/">
      <h1>
        SONG<class class='red'>SOUP</class>
      </h1>
    <a/>
    <%- profile %>
    
    <div class='artist_container' id="artists">
      <h2>
        Top Artists
      </h2>
      <%- artists %>
    </div>
    <br/><br/>
    
    <div class='genres_container' id="genres">
      <h2>
        Top Genres
      </h2>
      <%- genres %>
    </div>
    <br/><br/>
    
    <div class='tracks_container' id="tracks">
      <h2>
        Top Tracks
      </h2>
      <%- tracks %>
    </div>
    <br/><br/>
    
    <div class='recents_container' id="recents">
      <h2>
        Recently
      </h2>
      <%- recents %>
    </div>
    <br/><br/>
    
    <div class="about_me" id="me">
      <a href="https://maxzhang.ca" class="links">Coded by Max Zhang<a/>
      :: 
      <a href="https://github.com/chetbae" class="links">github<a/> 
      :: 
      <a href="https://www.linkedin.com/in/chetbae/" class="links">linkedin<a/>
    <div/>
    
    <a href="https://www.spotify.com/us/free/" target="_blank" class="spotify_logo_container">
      <img class="spotify_logo" src="https://cdn.glitch.me/294255af-2023-4966-a9da-f7be96f3420f/Spotify_Logo_RGB_Black.png?v=1641530036539"/>
    <a/>
    
    <div class="sidebar">
      <a href="#artists" class="sidetab">Artists<a/><br/>
      <a href="#genres" class="sidetab">Genres<a/><br/>
      <a href="#tracks" class="sidetab">Tracks<a/><br/>
      <a href="#recents" class="sidetab">Recently<a/><br/>
      <a href="#me" class="sidetab sidetab_me">About Me<a/>
    <div/>
    
  </body>
</html>
